.team-card {
  min-width: 1px;
  display: flex;
  flex: 1 1 auto;
  overflow-x: auto;
  &__list {
    display: flex;
    width: 100%;
  }
}

.project-card {
  flex: 1 0 100%;
  max-width: 350px;
  margin: 0.5em;
  border-radius: 5px;
}

.project-card-button {
  flex: 1 0 100%;
  max-width: 350px;
  margin: 0.5em;
}

.task-card {
  width: 100%;
  .ant-card-body {
    padding: 13px 18px;
  }
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-body {
    margin-top: 0.8em;
    font-size: 0.95em;
    &__title {
      font-weight: bold;
      line-height: 1.3;
    }
    &__date {
      color: #8c8c8c;
      .char {
        color: $color-4;
      }
    }
    &__members {
      margin-top: 0.5em;
      margin-left: -0.1em;
      > span {
        display: inline-block;
        vertical-align: top;
        margin: 0.1em;
      }
    }
    &__activities {
      margin-top: 0.3em;
      color: #8c8c8c;
      .anticon {
        margin-right: 0.3em;
      }
    }
    &__labels {
      margin-left: -0.2em;
      .label-small-tag {
        margin: 0.2em;
      }
    }
  }
}
