.team-card {
  min-width: 1px;
  display: flex;
  flex: 1 1 auto;
  overflow-x: auto;
  &__list {
    display: flex;
  }
}

.project-card {
  flex: 1 0 100%;
  max-width: 350px;
  margin: 0.5em;
  border-radius: 5px;
}

.project-card-button {
  flex: 1 0 100%;
  max-width: 350px;
  margin: 0.5em;
}

.task-card {
}

.label-unit {
  &__box {
    vertical-align: middle;
  }
}
.label-search {
  display: inline-block;
  position: relative;
  width: auto;
}
.label-search__hidden {
  display: inline-block;
  white-space: nowrap;
}

.label-search__input {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 30px;
  width: 100%;
  height: 100%;
  border: 0;
  &.ant-select-auto-complete.ant-select .ant-input {
    padding: 0;
    width: 100%;
    border-width: 0;
    font-size: 100%;
    height: 100%;
    background: transparent;
    outline: 0;
    border-radius: 4px;
    line-height: 1;
  }
  &.ant-select-auto-complete.ant-select-focused .ant-input,
  &.ant-select-auto-complete .ant-input:hover {
    box-shadow: none;
    border-color: transparent;
  }
}
