.edit-textarea {
  position: relative;
  .readable {
    padding: 4px 12px;
  }
  .ant-input {
    padding: 2px 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  &--blank {
    line-height: 0.6rem;
    padding-left: 2rem;
    font-size: 1.1rem;
    color: #bdbdbd7c;
  }
}

.task-modal {
  .ant-modal-close-x {
    width: 40px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
  }
  &__complete {
    .complete-label {
      margin-left: 5px;
      font-size: 12px;
      color: #bfbfbf;
      &--completed {
        color: $color-5;
      }
    }
  }
  .modal-label {
    margin-top: 1.5em;
    font-size: 11px;
    color: #bfbfbf;
  }
  &__title {
    .modal-label {
      margin-top: 0;
    }
    .edit-textarea {
      margin: 0 -11px;
    }
    .readable,
    .ant-input {
      letter-spacing: -0.05em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  &__body {
    .edit-textarea {
      margin: 0 -11px;
    }
    .readable,
    .ant-input {
      letter-spacing: -0.05em;
      font-size: 1.167em;
    }
  }
  &__members-groups {
    display: flex;
    .member-group .ant-avatar {
      margin: 2px;
    }
    .member-group__button {
      margin: 2px;
    }
  }
  &__labels {
    .label-unit {
      margin: 0 -10px;
    }
  }
}

.activity-list {
  max-height: 300px;
  overflow-y: auto;
  .log-date {
    color: #8c8c8c;
  }
  .edit-textarea {
    margin: -2px -4px;
    .readable,
    .ant-input {
      padding: 2px 4px;
    }
  }
}
.activity-delete-button {
  margin-left: 0.5em;
}
