$color-1: #e6f7ff;
$color-2: #bae7ff;
$color-3: #91d5ff;
$color-4: #69c0ff;
$color-5: #40a9ff;
$color-6: #1890ff;
$color-7: #096dd9;
$color-8: #0050b3;
$color-9: #003a8c;
$color-10: #002766;

$color-empty: #bfbfbf;
