@import url("https://fonts.googleapis.com/css?family=Ceviche+One|Paytone+One");
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.member-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.member-group .member-remove-usable {
  position: relative;
}

.member-group .member-remove-usable .ant-btn {
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -5px;
  right: -5px;
  font-size: 10px;
  background-color: rgba(89, 89, 89, 0.7);
  border-color: transparent;
  color: #fff;
}

.member-group .member-remove-usable:focus .ant-btn, .member-group .member-remove-usable:hover .ant-btn {
  opacity: 1;
}

.member-group .ant-avatar {
  margin-left: -3px;
}

.member-group__button {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.user-search__item {
  cursor: pointer;
}

.user-search__item--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.label-unit {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 1px 7px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.label-unit--focused {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
          box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.label-unit .ant-tag {
  margin: 3px;
}

.label-search {
  display: inline-block;
  position: relative;
  width: auto;
}

.label-search-button {
  margin: 3px;
  vertical-align: top;
}

.label-search__hidden {
  display: inline-block;
  min-width: 30px;
  white-space: nowrap;
}

.label-search__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.label-search__input.ant-select-auto-complete.ant-select .ant-input {
  padding: 0;
  width: 100%;
  border-width: 0;
  font-size: 100%;
  height: 100%;
  background: transparent;
  outline: 0;
  border-radius: 4px;
  line-height: 1;
}

.label-search__input.ant-select-auto-complete.ant-select-focused .ant-input,
.label-search__input.ant-select-auto-complete .ant-input:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

.label-color-picker {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.label-color-picker .ant-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(30% - 3px);
          flex: 1 1 calc(30% - 3px);
  margin: 3px;
  vertical-align: top;
}

.label-small-tag {
  display: inline-block;
  width: 38px;
  height: 7px;
  border-radius: 8px;
}

.team-card {
  min-width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-x: auto;
}

.team-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.project-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-width: 350px;
  margin: 0.5em;
  border-radius: 5px;
}

.project-card > .ant-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.project-card-button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-width: 350px;
  margin: 0.5em;
}

.project-card .edit-textarea {
  padding-bottom: 1em;
  margin: 0 -10px;
}

.project-card .edit-textarea .readable,
.project-card .edit-textarea .ant-input {
  font-weight: bold;
  font-size: 1.5em;
  color: #262626;
}

.project-card__title {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.project-card__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.project-card__task-list {
  width: 100%;
}

.project-delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.task-card {
  width: 100%;
  margin-bottom: 1.3em;
}

.task-card .ant-card-body {
  padding: 13px 18px;
}

.task-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-card-body {
  margin-top: 0.8em;
  font-size: 0.95em;
}

.task-card-body a {
  text-decoration: none;
}

.task-card-body__title {
  font-weight: bold;
  line-height: 1.3;
}

.task-card-body__date {
  color: #8c8c8c;
}

.task-card-body__date .char {
  color: #69c0ff;
}

.task-card-body__members {
  margin-top: 0.5em;
  margin-left: -0.1em;
}

.task-card-body__members > span {
  display: inline-block;
  vertical-align: top;
  margin: 0.1em;
}

.task-card-body__activities {
  margin-top: 0.3em;
  color: #8c8c8c;
}

.task-card-body__activities .anticon {
  margin-right: 0.3em;
}

.task-card-body__labels {
  margin-left: -0.2em;
}

.task-card-body__labels .label-small-tag {
  margin: 0.2em;
}

.new-task-editor {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 20px;
  padding: 10px 10px;
  background-color: #e8e8e8;
}

.new-task-editor__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.5em;
}

.new-task-editor__button button {
  margin-left: 0.5em;
}

.new-task-card__button {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  margin-top: 20px;
}

.edit-textarea {
  position: relative;
}

.edit-textarea .readable {
  padding: 4px 12px;
}

.edit-textarea .ant-input {
  padding: 2px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.task-modal .ant-modal-close-x {
  width: 40px;
}

.task-modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1em;
}

.task-modal__complete .complete-label {
  margin-left: 5px;
  font-size: 12px;
  color: #bfbfbf;
}

.task-modal__complete .complete-label--completed {
  color: #40a9ff;
}

.task-modal .modal-label {
  margin-top: 1.5em;
  font-size: 11px;
  color: #bfbfbf;
}

.task-modal__title .modal-label {
  margin-top: 0;
}

.task-modal__title .edit-textarea {
  margin: 0 -11px;
}

.task-modal__title .readable,
.task-modal__title .ant-input {
  font-size: 1.5em;
  font-weight: bold;
}

.task-modal__body .edit-textarea {
  margin: 0 -11px;
}

.task-modal__body .readable,
.task-modal__body .ant-input {
  font-size: 1.167em;
}

.task-modal__members-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-modal__members-groups .member-group .ant-avatar {
  margin: 2px;
}

.task-modal__members-groups .member-group__button {
  margin: 2px;
}

.task-modal__labels .label-unit {
  margin: 0 -10px;
}

.activity-list {
  max-height: 300px;
  overflow-y: auto;
}

.activity-list .log-date {
  color: #8c8c8c;
}

.activity-list .edit-textarea {
  margin: -2px -4px;
}

.activity-list .edit-textarea .readable,
.activity-list .edit-textarea .ant-input {
  padding: 2px 4px;
}

.activity-delete-button {
  margin-left: 0.5em;
}

.sidebar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.sidebar__button {
  position: absolute;
  top: 1em;
  right: 0.7em;
  color: #003a8c;
  z-index: 3;
}

.sidebar__menu {
  position: relative;
  z-index: 2;
  background-color: #003a8c;
}

.sidebar__menu .user-avatar {
  position: absolute;
  top: 6em;
  left: 0.5em;
}

.sidebar__toggle-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  width: 200px;
  padding: 1em;
  background-color: #0050b3;
  margin-left: 0;
  -webkit-transition: margin-left 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: margin-left 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sidebar--closed .sidebar__toggle-menu {
  margin-left: -200px;
}

.sidebar-logo {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-family: "Ceviche One", cursive;
  font-size: 1.8em;
  color: #fff;
}

.board-type-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 100%;
  font-size: 2em;
}

.board-type-menu__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board-type-menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2em;
  height: 2em;
  color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.board-type-menu__item a:focus {
  text-decoration: none;
}

.board-type-menu__item a:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.board-type-menu__item--current a {
  color: #fff;
}

.sidebar-user {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5em 0;
}

.sidebar-user__name {
  padding: 0.5em 0;
  color: #fff;
  font-size: 1.3em;
}

.user-avatar--big img, .user-avatar--big span {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.user-avatar--big {
  position: relative;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.user-avatar--big span {
  background-color: #bfbfbf;
  color: color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #fff;
}

.team-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.team-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0;
}

.team-menu-item a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8em 1em;
  border-radius: 3px;
  color: #e6f7ff;
  background-color: rgba(255, 255, 255, 0.2);
}

.team-menu-item a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  margin-left: -0.5em;
  margin-right: 0.5em;
  border-radius: 100%;
  color: #fff;
  font-size: 0.9em;
  background-color: #52c41a;
}

.team-menu-item a:focus {
  text-decoration: none;
}

.team-menu-item button {
  margin-left: 5px;
}

.team-menu-item--current a {
  color: #0050b3;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
}

.team-add-button {
  width: 100%;
}

.team-leave-button {
  background-color: #595959;
  border-color: transparent;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0.8em;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.header__team-name {
  padding-right: 1em;
  font-size: 1.3em;
}

.team-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #e8e8e8;
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.loading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0;
}

.loading-box i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.uploadcare--page {
  height: 100%;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: #096dd9;
}

.login-page__logo {
  margin: 0;
  font-family: "Ceviche One", cursive;
  font-size: 5em;
  font-weight: normal;
  color: #fff;
  letter-spacing: -3px;
}

.login-page .ant-alert {
  margin-bottom: 0.5em;
}

.password-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: -1em;
}

.password-view .ant-checkbox-wrapper {
  padding: 0.5em 0 0.5em 0.5em;
}

.sign-anchor {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0.3em 0.8em 0.5em;
  border-radius: 5px;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
}

.sign-anchor:focus, .sign-anchor:hover {
  color: white;
  background-color: rgba(0, 58, 140, 0.6);
}

.sign-up-page .sign-anchor {
  color: rgba(9, 109, 217, 0.8);
}

.sign-up-page .sign-anchor:focus, .sign-up-page .sign-anchor:hover {
  color: #096dd9;
  background-color: rgba(186, 231, 255, 0.4);
}

.sign-up-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sign-up__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #096dd9;
}

.sign-up__profile h2 {
  font-size: 1.3em;
  margin-bottom: 1em;
  color: #fff;
}

.uploader__button {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 0;
  background-color: #eee;
  font-size: 3em;
  color: #bfbfbf;
  cursor: pointer;
}

.sign-up-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=index.css.map */